include LICENSE
include README.md
include vecindex_finder/requirements.txt
include vecindex_finder/config.yml
recursive-include vecindex_finder/reports *.html *.css *.js
recursive-include vecindex_finder/results *.json *.csv *.h5 