# OpenGauss数据库适配器配置

# 数据库连接配置
connection:
  host: "127.0.0.1"
  port: 6432
  user: "ann"
  password: "Huawei@123"
  dbname: "ann"

# 表信息
table_info:
  # 表名
  table_name: "items"
  # 向量字段名
  vector_column_name: "embedding"
  # 向量维度
  dimension: 128
  # 距离度量类型, l2/ip/cosine
  metric: "l2"

# 采样配置
sampling:
  # 默认采样比例，如果表中数据量小于min_sample_count，则采样min_sample_count条数据，如果表中数据量大于max_sample_count，则采样max_sample_count条数据
  default_ratio: 0.1
  # 最小采样数量
  min_sample_count: 10000
  # 最大采样数量
  max_sample_count: 1000000

# query配置
query:
  # query获取方式, sample/从原表中采样, json/从json文件中获取
  query_get_type: "sample"
  # 测试的请求，默认1000，query_get_type为sample时有效
  query_count: 1000
  # query_data_path, query数据用json数组的方式存储，如[[1, 2, 3], [4, 5, 6], ...], 如果为空，则使用默认的采样方式
  query_data_path: "query_data.json"
  

# 性能测试配置
performance:
  # limit, 每次查询的限制数量
  limit: 100
  # 最低容忍召回率
  min_recall: 0.8
  # 最高容忍召回率
  max_recall: 0.999

# 并行工作线程数，，最小为1, 如果为null，则使用默认值为75%的CPU核心数
parallel_workers: null

# 索引类型配置
index:
  # 需要查找的索引类型
  find_index_type: "ivfflat"
  # 是否自动选择最佳参数, 如果为true，则程序会根据数据量和维度自动搜查最佳参数
  auto: true
  # IVF-FLAT索引参数
  ivfflat:
    # 聚类中心数量
    nlist: [16, 32, 64, 128, 256, 512, 1024]
    # 查询参数
    nprobe: [1, 4, 8, 16, 32, 64, 128]

  # IVF-PQ索引参数
  ivfpq:
    # 聚类中心数量
    nlist: [16, 32, 64, 128, 256, 512, 1024]
    # 子量化器数量
    m: [4, 8, 16, 32]
    # 每个子量化器的bit数
    nbits: 8
    # 查询参数
    nprobe: [1, 4, 8, 16, 32, 64]
    # 精炼因子范围
    ivfpq_refine_k_factor: [1, 2, 4, 8]
  
  # HNSW索引参数
  hnsw:
    # 每个节点的最大连接数
    M: [8, 16, 32, 64]
    # 构建时的候选邻居数量
    efConstruction: [40, 80, 120, 200, 400]
    # 查询时的候选邻居数量
    ef: [10, 20, 40, 80, 100, 200, 400, 800]


