# OpenGauss数据库适配器配置

# 数据库连接配置
connection:
  host: "127.0.0.1"
  port: 6432
  user: "ann"
  password: "Huawei@123"
  dbname: "ann"

# 表信息
table_info:
  # 表名
  table_name: "items"
  # 向量字段名
  vector_column_name: "embedding"
  # 向量维度
  dimension: 128
  # 距离度量类型, l2/ip/cosine
  metric: "l2"

# 采样配置
sampling:
  # 默认采样比例(0-1)，如果表中数据量小于min_sample_count，则采样min_sample_count条数据，如果表中数据量大于max_sample_count，则采样max_sample_count条数据
  default_ratio: 1
  # 最小采样数量
  min_sample_count: 10000
  # 最大采样数量
  max_sample_count: 1000000

# query配置
query:
  # query获取方式, sample/从原表中采样, json/从json文件中获取
  query_get_type: "sample"
  # 测试的请求，默认1000，query_get_type为sample时有效
  query_count: 100
  # query_data_path, query数据用json数组的方式存储，如[[1, 2, 3], [4, 5, 6], ...], 如果为空，则使用默认的采样方式
  query_data_path: "query_data.json"
  

# 性能测试配置
performance:
  # limit, 每次查询的限制数量
  limit: 100
  # 最低容忍召回率
  min_recall: 0.99
  # 参数评价权重（相加为1），满足最低召回率的前提下，考虑的优先级，查找最佳参数时，会依据权重计算得分。
  weight:
    create_index_time: 0.3
    qps: 0.7


# 并行工作线程数，最小为1, 如果为null，则使用默认值为75%的CPU核心数。建议为CPU核心数的75%。
parallel_workers: null

# 搜索创建索引参数的次数，次数越多，搜索的创建索引的参数越多，结果越准确，默认值为20.
explore_times: 6

# 索引类型配置
index_config:
  # 需要查找的索引类型, ivfflat/ivfpq/hnsw/diskann, 只需要指定一个。
  find_index_type: "ivfflat"
  # 是否预热缓存，如果为true，则程序会先预热缓存，建议图索引（hnsw/diskann）设置为true，其他索引设置为false。
  prepare_cache: false
  # 是否自动选择最佳参数, 如果为true，则程序会根据数据量和维度自动搜查最佳参数。如果为false，需要设置index_params。
  auto: true


# 初始探索参数配置, 建议用户在了解索引类型和数据集的情况下，手动设置理论参数。
initial_explore_params:
  # 是否使用手动设置的参数作为优化起点, 如果为true，index_param 和 query_param为必填项。 则使用用户设置的参数作为优化起点。否则会根据数据量和维度自动生成理论参数作为初始参数进行探索
  manual_param: false
  # 索引参数，如果manual_param为true，则需要设置index_param。
  index_param:
    ivf_nlist: 1024
    ivf_nlist_range: [100, 6000]
  # 查询参数，如果manual_param为true，则需要设置query_param。
  query_param:
    ivf_probes: 30
    ivf_probes_range: [10, 2000]


# 手动索引参数配置, 如果auto为false，则会探测下方手动给出的参数，从中选择最佳参数。
manual_index_params:
  params:
    # 索引参数列表
    -
      index_param:
        ivf_nlist: 1024
      query_param:
        ivf_probes: 30
    -
      index_param:
        ivf_nlist: 1024
      query_param:
        ivf_probes: 40
    -
      index_param:
        ivf_nlist: 1024
      query_param:
        ivf_probes: 50


# 以下是各类索引参数示例，根据需要配置
# ivfflat参数示例
# index_param:
#   - ivf_nlist: 1024
# query_param:
#   - ivf_probes: 30
# 
# ivfpq参数示例
# index_param:
#   - ivf_nlist: 1024
#     num_subquantizers: 8
#     nbits: 16
#   - ivf_nlist: 2048
#     num_subquantizers: 8
#     nbits: 16
# query_param:
#   - ivf_probes: 30
#     ivfpq_refine_k_factor: 4
#   - ivf_probes: 60
#     ivfpq_refine_k_factor: 4
# 
# hnsw参数示例
# index_param:
#   - m: 16
#     ef_construction: 100
#   - m: 24
#     ef_construction: 200
# query_param:
#   - hnsw_ef_search: 80
#   - hnsw_ef_search: 200
# 
# diskann参数示例
# index_param:
# query_param:
#   - diskann_search_list_size: 100
#   - diskann_search_list_size: 200


